<%- include('partials/header') %>

    <div class="form-container">
        <h1>Edit Story</h1>
        <form action="/update/<%= post._id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="postTitle" value="<%= post.title %>" required>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea name="postBody" rows="10" required><%= post.content %></textarea>
            </div>
            <div class="form-group">
                <label>Update Thumbnail</label>
                <input type="file" name="image">
            </div>
            <button type="submit" class="submit-btn"><i class="fa-solid fa-save"></i> Update</button>
        </form>
    </div>

    <%- include('partials/footer') %>