<%- include('partials/header') %>

    <div class="section-header">
        <h1>Latest Stories</h1>
        <a href="/compose"><button class="compose-btn"><i class="fa-solid fa-pen-nib"></i> Write Story</button></a>
    </div>

    <% if(sposts && sposts.length> 0) { %>
        <div class="posts-grid">
            <% sposts.forEach((post)=> { %>
                <div class="post-card">
                    <a href="/posts/<%= post._id %>">
                        <div class="img-container">
                            <img src="/thumbnails/<%= post.thumbnail %>" alt="<%= post.title %>"
                                onerror="this.onerror=null; this.src='/images/default-image.png'">
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                <%= post.title %>
                            </div>
                            <div class="card-excerpt">
                                <%= post.content.substring(0, 100) %>...
                            </div>
                            <div class="card-footer">
                                <span><i class="fa-solid fa-user"></i>
                                    <%= post.author %>
                                </span>
                                <span><i class="fa-solid fa-heart"></i>
                                    <%= post.like %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <div style="text-align: center; padding: 4rem;">
                <img src="/images/blog-vector-art.png" alt="No posts" style="max-width: 300px; opacity: 0.8;">
                <h2>No stories yet. Be the first to write one!</h2>
            </div>
            <% } %>

                <%- include('partials/footer') %>